
//  variables
$orange: #f74843;
$white: white;
$black: #141414;
$nav__card-wrapper: #ededed;


// mixins
@mixin flex ($justify, $align, $direction, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap
}

@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin text($fontSize, $fontWeight, $color) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
}



// utilities
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    overflow-x: hidden;
}

.grid {
    @media (min-width:820px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        display: grid;
        gap: 3rem;
    }
}

#videoBackground {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.video-overlay {
    @include position(fixed, 0, 0, 0, 0);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


.logo, .header, .nav__h2,
.nav__last-link,
.nav__card-wrapper {
    padding: 0 7vw;

    @media (min-width:820px) {
        padding: 0 10vw;
    }
}

.logo {
    padding-top: 3rem;
    margin-bottom: 14%;

    img {
        width: 150px;
    }
}




